@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  --bg-size: 400%;
  --color-one: rgba(102, 51, 238, 0.5);
  --color-two: #6633ee;

  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
  .gradient-text {
    animation: move-bg 9s ease-in-out infinite;
  }
  @keyframes move-bg {
    from {
      background-position: var(--bg-size) 0;
    }
    to {
      background-position: 0 0;
    }
  }
}
